<nav class = "navbar">
    <ul class = "menu">
        <li><img src = "{{ path('assets/imgs/logo.png') }}" class = "img_menu"></li> <!-- Il faut mettre le chemin du controller qui affiche la page html -->
        <li> <a href = "/html/modif_data.html">Modifier la base de donnée</a></li>
        <li> <a href = "list_eval.html">Créer une évaluation</a></li>
        <li> <a href = "profil.html">Profil</a></li>
        <li> <a href = "profil.html"><img src = "../assets/imgs/image.jpg" class = "img_menu"></a></li>
    </ul>
</nav>