{% extends "base.html.twig" %}


{% block head %}
    <meta charset="UTF-8">

    <title>ParaDocs</title>

    <!--CSS-->
    {% block css %}
    <link rel="stylesheet" href="{{ asset('assets/CSS/navbar.css')}}">
    <link rel="stylesheet" href="{{ asset('assets/css/comp_gen_eval.css')}}">
    {% endblock %}



{% endblock %}

{% block body %}
    
    <header>
    {% include "_partials/_navbar.html.twig" %}
    </header>

    <main>
        <h2>Créer une évaluation</h2>
        <h3>Choisir les composantes génériques</h3>
        <div class="page">
            <div class="contenu">
                <div class="texte">
                    <h4>Choississez un titre pour l'évaluation :</h4>
                    <input type="text" class="rempli-c" placeholder="Ajouter un titre ...">
                </div>
                <div class="time">
                    <div class="date_heure">
                        <h4>Date et heure d'évaluation :</h4>
                        <input type="datetime-local">
                    </div>
                    <div class="date_heure">
                        <h4>Durée de l'évaluation :</h4>
                        <input type="time">
                    </div>
                </div>
                <div class="les-mods">
                    <h4>Choissir les modalitées :</h4>
                    <div class="mod-row">
                        <div class="mod-col">
                            <div class="mod">
                                <p>Calculatrice :</p>
                                <label>Oui</label>
                                <input type="radio" name="ouinon-calc" value="oui">
                                <label>Non</label>
                                <input type="radio" name="ouinon-calc" value="non">
                            </div>
                            <div class="mod">
                                <p>Ordinateur :</p>
                                <label>Oui</label>
                                <input type="radio" name="ouinon-ordi" value="oui">
                                <label>Non</label>
                                <input type="radio" name="ouinon-ordi" value="non">
                            </div>
                        </div>
                        <div class="mod-col">
                            <div class="mod">
                                <p>Document :</p>
                                <label>Oui</label>
                                <input type="radio" name="ouinon-doc" value="oui">
                                <label>Non</label>
                                <input type="radio" name="ouinon-doc" value="non">
                            </div>
                            <div class="mod-autre">
                                <p>Autre :</p>
                                <input type="text" class="rempli-c" placeholder="Ajouter une nouvelle modalité si besoin ...">                        
                            </div>
                        </div>
                    </div>
                </div>
                <div class="texte">
                    <h4>Texte d'introduction :</h4>
                    <textarea placeholder="Ajoutez un texte..." class="rempli-c"></textarea>
                </div>
                <div class="ret-suiv">
                    <button class="vide-c">Retour</button>
                    <button class="vide-c">Suivant</button>
                </div>
            </div>
        </div>
    </main>
{% endblock %}