<!DOCTYPE html>
<html lang="fr">


<head>
    <meta charset="UTF-8">

    <title>ParaDocs</title>

    <!--CSS-->
    <link rel="stylesheet" href="{{ asset('assets/CSS/navbar.css')}}">
    <link rel="stylesheet" href="{{ asset('assets/css/list_eval.css')}}">


</head>

<body>

    <header>
    {% include "_partials/_navbar.html.twig" %}
    </header>

    <main>
        <h2>Créer une évaluation</h2>
        <h3>A partir des évaluation précédentes</h3>
        <div class="list-eval">
            <div class="contenu">
                <ul class="list-item">
                    <a class="question-card" id="myBtn">
                        <li>
                            <p class="enonce-question"> Evaluation BDD - CIR1</p>
                            <div class="param-question">
                                <div class="type">
                                    <p class="nom">Nombre de questions :</p>
                                    <p class="contenu-nom">30</p>
                                </div>
    
                                <div class="diff">
                                    <p class="nom">Date :</p>
                                    <p class="contenu-nom">30/04/2022</p>
                                </div>
                            </div>
                            <div class="param-question">
                                <div class="chapitre">
                                    <p class="nom">Chapitre :</p>
                                    <p class="contenu-nom">qsdfghjklkjhgfdsqSDFGHJJHGFDSQSD</p>
                                </div>
                                <div class="theme">
                                    <p class="nom">Thème :</p>
                                    <p class="contenu-nom">qzsfdghjkimgyeqezqfwdgbyj</p>
                                </div>
                            </div>
                        </li>
                    </a>
                    <li>
                        <p class="enonce-question"> Evaluation BDD - CIR1</p>
                        <div class="param-question">
                            <div class="type">
                                <p class="nom">Nombre de questions :</p>
                                <p class="contenu-nom">30</p>
                            </div>

                            <div class="diff">
                                <p class="nom">Date :</p>
                                <p class="contenu-nom">30/04/2022</p>
                            </div>
                        </div>
                        <div class="param-question">
                            <div class="chapitre">
                                <p class="nom">Chapitre :</p>
                                <p class="contenu-nom">qsdfghjklkjhgfdsqSDFGHJJHGFDSQSD</p>
                            </div>
                            <div class="theme">
                                <p class="nom">Thème :</p>
                                <p class="contenu-nom">qzsfdghjkimgyeqezqfwdgbyj</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <p class="enonce-question"> Evaluation BDD - CIR1</p>
                        <div class="param-question">
                            <div class="type">
                                <p class="nom">Nombre de questions :</p>
                                <p class="contenu-nom">30</p>
                            </div>

                            <div class="diff">
                                <p class="nom">Date :</p>
                                <p class="contenu-nom">30/04/2022</p>
                            </div>
                        </div>
                        <div class="param-question">
                            <div class="chapitre">
                                <p class="nom">Chapitre :</p>
                                <p class="contenu-nom">qsdfghjklkjhgfdsqSDFGHJJHGFDSQSD</p>
                            </div>
                            <div class="theme">
                                <p class="nom">Thème :</p>
                                <p class="contenu-nom">qzsfdghjkimgyeqezqfwdgbyj</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <p class="enonce-question"> Evaluation BDD - CIR1</p>
                        <div class="param-question">
                            <div class="type">
                                <p class="nom">Nombre de questions :</p>
                                <p class="contenu-nom">30</p>
                            </div>

                            <div class="diff">
                                <p class="nom">Date :</p>
                                <p class="contenu-nom">30/04/2022</p>
                            </div>
                        </div>
                        <div class="param-question">
                            <div class="chapitre">
                                <p class="nom">Chapitre :</p>
                                <p class="contenu-nom">qsdfghjklkjhgfdsqSDFGHJJHGFDSQSD</p>
                            </div>
                            <div class="theme">
                                <p class="nom">Thème :</p>
                                <p class="contenu-nom">qzsfdghjkimgyeqezqfwdgbyj</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <p class="enonce-question"> Evaluation BDD - CIR1</p>
                        <div class="param-question">
                            <div class="type">
                                <p class="nom">Nombre de questions :</p>
                                <p class="contenu-nom">30</p>
                            </div>

                            <div class="diff">
                                <p class="nom">Date :</p>
                                <p class="contenu-nom">30/04/2022</p>
                            </div>
                        </div>
                        <div class="param-question">
                            <div class="chapitre">
                                <p class="nom">Chapitre :</p>
                                <p class="contenu-nom">qsdfghjklkjhgfdsqSDFGHJJHGFDSQSD</p>
                            </div>
                            <div class="theme">
                                <p class="nom">Thème :</p>
                                <p class="contenu-nom">qzsfdghjkimgyeqezqfwdgbyj</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <p class="enonce-question"> Evaluation BDD - CIR1</p>
                        <div class="param-question">
                            <div class="type">
                                <p class="nom">Nombre de questions :</p>
                                <p class="contenu-nom">30</p>
                            </div>

                            <div class="diff">
                                <p class="nom">Date :</p>
                                <p class="contenu-nom">30/04/2022</p>
                            </div>
                        </div>
                        <div class="param-question">
                            <div class="chapitre">
                                <p class="nom">Chapitre :</p>
                                <p class="contenu-nom">qsdfghjklkjhgfdsqSDFGHJJHGFDSQSD</p>
                            </div>
                            <div class="theme">
                                <p class="nom">Thème :</p>
                                <p class="contenu-nom">qzsfdghjkimgyeqezqfwdgbyj</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <p class="enonce-question"> Evaluation BDD - CIR1</p>
                        <div class="param-question">
                            <div class="type">
                                <p class="nom">Nombre de questions :</p>
                                <p class="contenu-nom">30</p>
                            </div>

                            <div class="diff">
                                <p class="nom">Date :</p>
                                <p class="contenu-nom">30/04/2022</p>
                            </div>
                        </div>
                        <div class="param-question">
                            <div class="chapitre">
                                <p class="nom">Chapitre :</p>
                                <p class="contenu-nom">qsdfghjklkjhgfdsqSDFGHJJHGFDSQSD</p>
                            </div>
                            <div class="theme">
                                <p class="nom">Thème :</p>
                                <p class="contenu-nom">qzsfdghjkimgyeqezqfwdgbyj</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <p class="enonce-question"> Evaluation BDD - CIR1</p>
                        <div class="param-question">
                            <div class="type">
                                <p class="nom">Nombre de questions :</p>
                                <p class="contenu-nom">30</p>
                            </div>

                            <div class="diff">
                                <p class="nom">Date :</p>
                                <p class="contenu-nom">30/04/2022</p>
                            </div>
                        </div>
                        <div class="param-question">
                            <div class="chapitre">
                                <p class="nom">Chapitre :</p>
                                <p class="contenu-nom">qsdfghjklkjhgfdsqSDFGHJJHGFDSQSD</p>
                            </div>
                            <div class="theme">
                                <p class="nom">Thème :</p>
                                <p class="contenu-nom">qzsfdghjkimgyeqezqfwdgbyj</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="boutton-eval">
            <button class="ajout-eval">Nouvelle évaluation</button>
        </div>

    </main>

</body>