{% extends "base.html.twig" %}

{% block head %}
    <meta charset="UTF-8">
    <meta name='viewport' content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Accueil{% endblock %} - ParaDocs</title>

    <!--CSS-->
    {% block css %}
    <link rel="stylesheet" href="{{ asset('assets/CSS/navbar.css')}}">
    <link rel="stylesheet" href="{{ asset('assets/css/style_m_d.css')}}">
    {% endblock %}

    <!--JS-->
    {% block javascripts %}
    <script src="{{ asset('assets/Js/modif_data.js') }}" defer></script>
    {% endblock %}

{% endblock %}


{% block body %}

    <header>
    {% include "_partials/_navbar.html.twig" %}
    </header>

    <main>
        <div class="modal-content">
            <span class="close-mine">&times;</span>
            <h3>Modifier la question</h3>

            <div class="info-question">
                <div class="info" id="type">
                    <p class="element">Type :</p>
                    <select name="type">
                        <option value="">Choissez un type</option> 
                        <option value="QCM">QCM</option>
                        <option value="libre">Libre</option>
                    </select>
                </div>
                <div class="info" id="chapitre">
                    <p class="element">Thèmes :</p>
                    <div class="choix-chap-them">
                        <ul class="list-chap-them">
                            <li>
                                <input type="checkbox" >
                                <p>qsdfghjklm</p>
                            </li>
                            <li>
                                <input type="checkbox" >
                                <p>qsdfghjklm</p>
                            </li>
                            <li>
                                <input type="checkbox" >
                                <p>qsdfghjklm</p>
                            </li>
                            <li>
                                <input type="checkbox" >
                                <p>qsdfghjklm</p>
                            </li>
                            <li>
                                <input type="checkbox" >
                                <p>qsdfghjklm</p>
                            </li>
                            <li>
                                <input type="checkbox" >
                                <p>qsdfghjklm</p>
                            </li>   
                        </ul>    
                    </div>
                </div>
                <div class="info" id="theme">
                    <p class="element">Chapitre :</p>
                    <div class="choix-chap-them">
                        <ul class="list-chap-them">
                            <li>
                                <input type="checkbox" >
                                <p>qsdfghjklm</p>
                            </li>
                            <li>
                                <input type="checkbox" >
                                <p>qsdfghjklm</p>
                            </li>
                            <li>
                                <input type="checkbox" >
                                <p>qsdfghjklm</p>
                            </li>
                            <li>
                                <input type="checkbox" >
                                <p>qsdfghjklm</p>
                            </li>
                            <li>
                                <input type="checkbox" >
                                <p>qsdfghjklm</p>
                            </li>
                            <li>
                                <input type="checkbox" >
                                <p>qsdfghjklm</p>
                            </li>   
                        </ul>    
                    </div>
                </div>
                <div class="info" id="enonce">
                    <p class="element">Enoncé</p>
                    <textarea placeholder="Ajoutez un texte..." class="enonce"></textarea>
                </div>
                <div class="info" id="reponses">
                    <p class="element">Réponses :</p>
                    <textarea placeholder="Ajoutez un texte..." class="reponses"></textarea>
                    <textarea placeholder="Ajoutez un texte..." class="reponses"></textarea>
                    <button class="bouton-vide">Ajouter une réponse</button>
                </div>
                <div class="info" id="difficulte">
                    <p class="element">Difficulté :</p>
                    <form>
                        <fieldset>
                            <span class="star-cb-group">
                            <input type="radio" id="rating-5" name="rating" value="5" /><label for="rating-5">5</label>
                            <input type="radio" id="rating-4" name="rating" value="4" checked="checked" /><label for="rating-4">4</label>
                            <input type="radio" id="rating-3" name="rating" value="3" /><label for="rating-3">3</label>
                            <input type="radio" id="rating-2" name="rating" value="2" /><label for="rating-2">2</label>
                            <input type="radio" id="rating-1" name="rating" value="1" /><label for="rating-1">1</label>
                            <input type="radio" id="rating-0" name="rating" value="0" class="star-cb-clear" /><label for="rating-0">0</label>
                            </span>
                        </fieldset>
                    </form>
                </div>
                <div class="info" id="image-question">
                    <button class="bouton-vide">Ajouter une image</button>
                </div>
                <div class="sauv-suppr">
                    <button class="rempli-c">Sauvegarder</button>
                    <button class="suppr">Supprimer la question(désactiver)</button>
                </div>
                
            </div>
        </div>
    </main>

{% endblock %}